body {
    font-family: Arial, sans-serif;
    background-color: #014268 ;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 30px auto;
    background-color: #def0fc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #015c92;
}

h2 {
    text-align: center;
    color: #014e7a;
}

.btn-add {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 16px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-box {
    width: 60%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.btn {
    background-color: #1375ad;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #2d82b5;
}

.table-container {
    overflow-x: auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th, td {
    padding: 12px;
    border: 1px solid #014268;
    text-align: center;
    font-size: 16px;
}

th {
    background-color: #f2f2f2;
    color: #014e7a;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.btn-edit, .btn-delete {
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    margin: 0 5px;
    display: inline-block;
}

.btn-edit {
    background-color: #206b99;
}

.btn-edit:hover {
    background-color: #53a7d8;
}

.btn-delete {
    background-color: #c20811;
}

.btn-delete:hover {
    background-color: #ff5353;
}

